<h2>Baro Dashboard</h2>
<p>baro-dashboard works!</p>

<div *ngIf="boardStat">

    <h2> {{boardStat.message | uppercase}} Details</h2>
    <div><span>Total: </span>{{boardStat.result}}</div>
    <div>
    </div>
  
</div>
<button (click)="getBoardStat()">Get Stats</button>