<p>xuc test</p>
<input type="text" name="server" [(ngModel)]="server" placeholder="server">

<input type="text" name="username" [(ngModel)]="username" placeholder="Username">
<input type="password" placeholder="Password" class="form-control" id="xuc_password">
<input type="text" placeholder="Phone number" class="form-control" id="xuc_phoneNumber">
<button class="btn btn-success" id="xuc_sign_in" (click)="oSubmit()">Sign in</button>


<ng-container *ngIf="authResult">
  <textarea name="login" [value]="authResult.login" type="text"> </textarea>
  <textarea name="token" [value]="authResult.token" type="text"></textarea>
</ng-container>



<button class="btn btn-success" id="xuc_get_groups" (click)="getGroupsSubmit()">Get Groups</button>
<ng-container *ngIf="groups">
  <textarea name="groups" [value]="groups" type="text"></textarea>
</ng-container>
