/* Application-wide Styles */
h1 {
    color: rgb(71, 29, 138);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }
  body, input[type="text"], button {
    color: rgb(49, 11, 32);
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }